.banner {
  position: absolute;
  top: 150px;
  left: 0;
  width: 100%;
  height: 38vw;
  overflow: hidden;
  z-index: 1;
}

.banner::before,
.banner::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2.5vh;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.2) 5%,
    rgba(0, 0, 0, 0.6) 10%,
    rgba(0, 0, 0, 0.6) 90%,
    rgba(0, 0, 0, 0.2) 95%,
    rgba(0, 0, 0, 0) 100%
  );
}

.banner::before {
  top: 0;
}
.banner::after {
  bottom: 0;
}

.banner .line-top,
.banner .line-bottom {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 5%,
    rgba(255, 255, 255, 0.6) 10%,
    rgba(255, 255, 255, 0.6) 90%,
    rgba(255, 255, 255, 0.2) 95%,
    rgba(255, 255, 255, 0) 100%
  );
}

.banner .line-top {
  top: 2.5vh;
}
.banner .line-bottom {
  bottom: 2.5vh;
}

.banner .content {
  position: absolute;
  top: 2.5vh;
  bottom: 2.5vh;
  left: 0;
  right: 0;
  background: linear-gradient(
    to right,
    rgba(130, 130, 130, 0) 0%,
    rgba(130, 130, 130, 0.2) 5%,
    rgba(130, 130, 130, 0.6) 10%,
    rgba(129, 129, 129, 0.6) 90%,
    rgba(130, 130, 130, 0.2) 95%,
    rgba(130, 130, 130, 0) 100%
  );
}

