/* Tabs */

.tab-bar {
  position: absolute;
  top: 11vh;
  left: 20%;
  display: flex;
  z-index: 10;
}

.tab {
  cursor: pointer;
  width: 240px;
  max-height: 50px;
  transform: scaleX(1.4);
}

.tab + .tab {
  margin-left: 25px;
}

.selectedTab {
  z-index: 50;
  transform: scaleX(1.4);
  transform-origin: center;
  max-height: 68px;
}

.tab{
  -webkit-user-drag: none;
}

/* FIN Tabs*/

/* Cuadro rectangular informativo (Grid + Scroll + Info + Icono)*/

.banner {
  position: absolute;
  top: 15vh;
  left: 0;
  width: 100%;
  height: 75vh;
  overflow: hidden;
  z-index: 1;
}

.banner::before,
.banner::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 22px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.2) 5%,
    rgba(0, 0, 0, 0.6) 10%,
    rgba(0, 0, 0, 0.6) 90%,
    rgba(0, 0, 0, 0.2) 95%,
    rgba(0, 0, 0, 0) 100%
  );
}

.banner::before {
  top: 0;
}
.banner::after {
  bottom: 0;
}

.banner .line-top,
.banner .line-bottom {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 5%,
    rgba(255, 255, 255, 0.6) 10%,
    rgba(255, 255, 255, 0.6) 90%,
    rgba(255, 255, 255, 0.2) 95%,
    rgba(255, 255, 255, 0) 100%
  );
}

.banner .line-top {
  top: 22px;
}
.banner .line-bottom {
  bottom: 22px;
}

.banner .content {
  position: absolute;
  top: 22px;
  bottom: 22px;
  left: 0;
  right: 0;
  overflow-y: hidden; /* <--- AQUÍ EL SCROLL */
  overflow-x: hidden;
  background: linear-gradient(
    to right,
    rgba(130, 130, 130, 0) 0%,
    rgba(130, 130, 130, 0.2) 5%,
    #82828299 10%,
    rgba(129, 129, 129, 0.6) 90%,
    rgba(130, 130, 130, 0.2) 95%,
    rgba(130, 130, 130, 0) 100%
  );
}

/* FIN Cuadro rectangular */

/* Información */

#realContent {
  position: absolute;
  top: 35px;
  left: 200px;
  right: 40px;
  bottom: 35px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}

#gridItems {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 5px;
  height: 100%;
  overflow: hidden;
  align-content: start;
  width: 25%;
}

#gridItems img {
  width: 100%;
  -webkit-user-drag: none;
}

/* Scrollbar */
.scroll-wrapper {
  flex: 0 0 auto;
  height: 100%;
  display: flex;
  align-items: stretch;
  width: 1%;
  margin-left: 2%;
  margin-right: 3%;
}

.scrollbar {
  position: relative;
  width: 10px;
  background: rgba(40, 33, 15, 1);
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.scroll-thumb {
  width: 6px;
  background: rgba(230, 230, 230, 0.9);
  border-radius: 4px;
  position: absolute;
  cursor: grab;
}

/* Fin Scrollbar */

/* Contenido Info */

.info-wrapper {
  position: relative;
  width: 60%;
  height: 100%;
}

.info-panel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* BORDE exterior completo (gris claro) */
.info-panel::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #2a2a2a;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 48px),
    calc(100% - 48px) 100%,
    0 100%,
    0 140px,
    -28px 110px,
    0 80px
  );
  z-index: 1;
  box-shadow: 0 0 0 2px #c4c4c4;
}

/* RELLENO interior (gris oscuro), simula grosor */
.info-panel::after {
  content: "";
  position: absolute;
  inset: 6px;
  background: #3e3d3d;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 43px),
    calc(100% - 43px) 100%,
    0 100%,
    0 134px,
    -22px 110px,
    0 86px
  );
  z-index: 2;
}

.info-panel__content::before {
  content: "";
  position: absolute;
  left: -28px;
  top: 50px;
  width: 28px;
  height: 45px;
  background: #3e3d3d;
  border-left: 6px solid #3e3d3d;
  border-top: 6px solid #3e3d3d;
  border-bottom: 6px solid #3e3d3d;
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
  z-index: 50;
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.25);
}

/* CONTENIDO normal */
.info-panel__content {
  position: relative;
  z-index: 4;
  width: 100%;
  height: 100%;
  padding: 20px 40px;
  box-sizing: border-box;
  color: white;
  font-family: sans-serif;
}

/* Línea decorativa superior */
.panel-header-line {
  position: absolute;
  top: 58px;
  left: 80px;
  right: 80px;
  height: 3px;
  background: linear-gradient(to right, #cacaca, #6d6d6d, #cacaca);
  border-radius: 2px;
  opacity: 0.85;
}

.triangle-hack {
  position: absolute;
  left: -19px;
  top: 56px;
  width: 40px;
  height: 40px;
  background: #3e3d3d;
  transform: rotate(45deg);
  z-index: 5;
  border-left: 5px solid #2a2a2a;
  border-bottom: 5px solid #2a2a2a;
}

/* Contenido del cuadro informátivo */

span#titleMonster {
  font-family: "RatatanInGame";
  font-size: 30px;
  width: 100%;
  text-align: center;
  display: block;
}

/* FIN Cuadro informativo */

/* Icono */

#iconDesplegable {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 50;
  width: 7.5%;
  cursor: pointer;
}

#iconDesplegable img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Fin Icono */
