<div class="tab-bar">
  <div
    *ngFor="let tab of data; let i = index"
    (click)="selectTab(i)"
    [style]="nSelectedTab == i ? 'z-index: 50' : ''"
  >
    <span class="titleTab">{{ tab.name }}</span>
    <img
      [src]="
        nSelectedTab == i
          ? '/images/frames/selectedTab.png'
          : '/images/frames/tab.png'
      "
      [class]="nSelectedTab == i ? 'selectedTab' : ''"
      class="tab"
    />
  </div>
</div>

<div class="banner">
  <div class="line-top"></div>

  <div class="content">
    <div id="realContent">
      <div #gridItems id="gridItems">
        <img
          *ngFor="let monster of data[nSelectedTab].monsters; let j = index"
          src="/images/frames/GridItem.png"
          style="z-index: 20"
          (click)="selectMonster(j)"
        />
      </div>

      <div class="scroll-wrapper">
        <div #scrollBar class="scrollbar">
          <div
            #scrollThumb
            class="scroll-thumb"
            (mousedown)="onThumbMouseDown($event)"
          ></div>
        </div>
      </div>

      <div class="info-wrapper">
        <div class="triangle-glow-wrapper">
          <div class="triangle-hack"></div>
        </div>

        <div class="info-panel">
          <div class="info-panel__content">
            <div class="panel-header-line"></div>
            <span id="titleMonster">{{ selectedMonster.name }}</span>
          </div>
        </div>
      </div>

      <div
        id="iconDesplegable"
        onclick="document.getElementById('mySidenav').style.left = '0%';"
      >
        <img src="/images/frames/options.png" />
      </div>
    </div>
  </div>
  <div class="line-bottom"></div>
</div>
