.banner {
  position: absolute;
  top: 150px;
  left: 0;
  width: 100%;
  height: 700px; /*TODO: Cambiar esto*/
  overflow: hidden;
  z-index: 1;
}

.banner::before,
.banner::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2.5vh;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.2) 5%,
    rgba(0, 0, 0, 0.6) 10%,
    rgba(0, 0, 0, 0.6) 90%,
    rgba(0, 0, 0, 0.2) 95%,
    rgba(0, 0, 0, 0) 100%
  );
}

.banner::before {
  top: 0;
}
.banner::after {
  bottom: 0;
}

.banner .line-top,
.banner .line-bottom {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 5%,
    rgba(255, 255, 255, 0.6) 10%,
    rgba(255, 255, 255, 0.6) 90%,
    rgba(255, 255, 255, 0.2) 95%,
    rgba(255, 255, 255, 0) 100%
  );
}

.banner .line-top {
  top: 2.5vh;
}
.banner .line-bottom {
  bottom: 2.5vh;
}

.banner .content {
  position: absolute;
  top: 2.5vh;
  bottom: 2.5vh;
  left: 0;
  right: 0;
  overflow-y: hidden; /* <--- AQUÍ EL SCROLL */
  overflow-x: hidden;
  background: linear-gradient(
    to right,
    rgba(130, 130, 130, 0) 0%,
    rgba(130, 130, 130, 0.2) 5%,
    #82828299 10%,
    rgba(129, 129, 129, 0.6) 90%,
    rgba(130, 130, 130, 0.2) 95%,
    rgba(130, 130, 130, 0) 100%
  );
}

/* FIN Cuadro rectangular */

/* Información */

#realContent {
  position: absolute;
  top: 35px;
  left: 200px;
  right: 40px;
  bottom: 35px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}

#gridItems {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 5px;
  width: fit-content;
  height: 100%;
  overflow: hidden;
  align-content: start;
}

#gridItems img {
  width: 120px;
}

/* Scrollbar */

.scrollbar {
  position: relative;
  width: 10px;
  background: rgba(40, 33, 15, 1);
  border-radius: 5px;
  margin: 0 50px;
  display: flex;
  justify-content: center;
}

.scroll-thumb {
  width: 6px;
  background: rgba(230, 230, 230, 0.9);
  border-radius: 4px;
  position: absolute;
  cursor: grab;
}
