<div id="elements">
  <div
    class="element"
    *ngFor="let element of elements; let i = index"
    (click)="selectedElement = i; selectedCard = 0; this.angleOffset = 0"
  >
    <img src="/images/elements/{{ element.srcImg }}" alt="{{ element.name }}" />
  </div>
</div>
<div id="cards" class="carousel">
  <div
    class="cardInfo"
    *ngFor="let card of cards[selectedElement].cards; let i = index"
    [ngStyle]="getCardStyle(i)"
    (click)="i === selectedCard ? advanceRarity(card) : selectCard(i)"
    [class.active]="i === selectedCard"
  >
    <img
      src="/images/frames/RatakarutaCardFrameLv{{ getRarityLvlCard(card) }}.png"
      class="frame"
    />
    <img
      src="/images/frames/RatakarutaCard{{ card.type != 'normal' ? 'Duo' : '' }}Frame_{{ card.type == 'normal' ? card.element : card.type }}.png"
      class="overlay"
    />
    <div class="skill-container">
      <img
        [src]="
          '/images/skills/' + card.element.toLowerCase() + '/' + card.srcImg
        "
        class="skill"
      />
    </div>
    <span class="titleCard">{{ card.title }}</span>
    <span class="descCard">
      {{
        card.desc.replace(
          "{0}",
          card.variableLvl[getRarityIndex(card, selectedRarity)].toString()
        )
      }}
    </span>
  </div>
</div>

<div id="cardsMobile">
  <div
    class="card"
    (click)="advanceRarity(cards[selectedElement].cards[selectedCard])"
  >
    <img
      src="/images/frames/RatakarutaCardFrameLv{{
        cards[selectedElement].cards[selectedCard].rarityLvl[
          getRarityIndex(
            cards[selectedElement].cards[selectedCard],
            selectedRarity
          )
        ]
      }}.png"
      class="frame"
    />
    <img
      src="/images/frames/RatakarutaCardFrame_{{
        cards[selectedElement].cards[selectedCard].element
      }}.png"
      class="overlay"
    />
    <div class="skill-container">
      <img
        src="/images/skills/{{
          cards[selectedElement].cards[selectedCard].element.toLowerCase()
        }}/{{ cards[selectedElement].cards[selectedCard].srcImg }}"
        class="skill"
      />
    </div>
    <span class="titleCard">{{
      cards[selectedElement].cards[selectedCard].title
    }}</span>

    <span class="descCard">{{
      cards[selectedElement].cards[selectedCard].desc.replace(
        "{0}",
        cards[selectedElement].cards[selectedCard].variableLvl[
          getRarityIndex(
            cards[selectedElement].cards[selectedCard],
            selectedRarity
          )
        ].toString()
      )
    }}</span>
  </div>
</div>

<div
  id="iconDesplegable"
  onclick="document.getElementById('mySidenav').style.left = '0%';"
>
  <img src="/images/frames/ratakaruta.png" />
</div>

<div id="mySidenav" class="sidenav">
  <a
    href="javascript:void(0)"
    class="closebtn"
    onclick="document.getElementById('mySidenav').style.left = '100%';"
    >&times;</a
  >
  <div id="elementsMobile">
    <div
      class="element"
      *ngFor="let element of elements; let i = index"
      (click)="selectedElement = i; selectedCard = 0"
    >
      <img
        src="/images/elements/{{ element.srcImg }}"
        alt="{{ element.name }}"
      />
    </div>
  </div>

  <div id="skillsMobile">
    <div
      class="skill"
      *ngFor="let skill of skills[selectedElement].skills"
      (click)="selectSkill(skill)"
      onclick="document.getElementById('mySidenav').style.left = '100%';"
    >
      <img
        src="/images/skills/{{ skill.elementType }}/{{ skill.srcImg }}"
        alt="{{ skill.title }}"
      />
      <div class="skillTitleMobile">
        <span>{{ skill.title }}</span>
      </div>
    </div>
  </div>
</div>
