/* Diseño barra elementos */

div#elements {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* FIN Diseño barra elementos */

/* Diseño skills */

div#skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

div#skills img {
  margin: 0 5px;
  width: 120px;
}

/* FIN Diseño skills*/

/* Diseño rarezas*/

div#rarities {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div#rarities .rarity {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  background-color: red;
  border-radius: 5px;
}

div#rarities > .common {
  background-color: rgba(171, 171, 171, 1);
}
div#rarities > .rare {
  background-color: rgba(75, 163, 219, 1);
}
div#rarities > .epic {
  background-color: rgba(201, 87, 203, 1);
}
div#rarities > .legendary {
  background-color: rgba(241, 236, 89, 1);
}
/* FIN Diseño rarezas*/

/* Diseño cartas */

div#cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

div#cards .cardInfo {
  position: relative;
  aspect-ratio: 3/5;
  margin: 0 10px;
}

#principalCard {
  width: 25%;
}

#backwardCard1,
#forwardCard1 {
  width: 20%;
}

#backwardCard2,
#forwardCard2 {
  width: 15%;
}

div#cards .overlay {
  position: absolute;
  z-index: 6;
  object-fit: cover;
  width: 100%;
  left: -1%;
}

div#cards .titleCard,
div#cards .descCard {
  position: absolute;
  z-index: 6;
  color: white;
  font-weight: bold;
}

div#cards .titleCard {
  top: 4.8%;
  left: 31%;
  right: 7%;
  font-family: "titleCard", sans-serif;
  font-size: 18.4px;
  height: 50px;
  width: 172px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
}

div#cards .descCard {
  top: 55.8%;
  left: 17%;
  right: 8%;
  font-family: "Quicksand", sans-serif;
  font-size: 13.5px;
  line-height: 1.5;
}

div#cards .frame {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  object-fit: cover;
}

div#cards .skill-container {
  position: absolute;
  top: 16%;
  left: 13.5%;
  width: 82%;
  height: 40%;
  z-index: 4;
}

div#cards .skill {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

div#cards .skill-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to top, transparent, rgba(255, 255, 255, 0.7));
  z-index: 2;
  pointer-events: none;
}

div#cards .skill-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 1));
  z-index: 2;
  pointer-events: none;
}

/* FIN Diseño cartas */

/* Diseño Icono desplegable  */

div#iconDesplegable {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0%;
  z-index: 20;
}

div#iconDesplegable img {
  width: 100px;
}

.sidenav {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 100%;
  background-color: rgba(14, 14, 14, 0.94);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
  z-index: 200;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 50px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

div#elementsMobile {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(120, 120, 120);
  margin-left: 2.5%;
  width: 95%;
}

div#elementsMobile div.element {
  margin: 5px;
}

div#elementsMobile div.element img {
  width: 95px;
}

div#skillsMobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 60px;
}

div#skillsMobile .skill {
  display: flex;
  align-items: center;
  color: white;
  font-family: "titleCard", sans-serif;
  margin: 0px 10px;
  margin-bottom: 15px;
  width: 94%;
}

div#skillsMobile span {
  margin-left: 10px;
  font-size: 35px;
  text-align: center;
}

div#skillsMobile img {
  width: 120px;
}

div#skillsMobile .skillTitleMobile {
  text-align: center;
  width: -webkit-fill-available;
}

/* Diseño de carta para versión móvil*/
div#cardsMobile {
  display: none;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

div#cardsMobile .card {
  position: relative;
  width: 400px;
  aspect-ratio: 3/5;
}

div#cardsMobile .overlay {
  position: absolute;
  z-index: 6;
  object-fit: cover;
  width: 100%;
  left: -1%;
}

div#cardsMobile .titleCard,
div#cardsMobile .descCard {
  position: absolute;
  z-index: 6;
  color: white;
  font-weight: bold;
}

div#cardsMobile .titleCard {
  top: 6.2%;
  left: 32%;
  right: 7%;
  font-family: "titleCard", sans-serif;
  font-size: 21px;
  height: 50px;
  width: 235px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
}

div#cardsMobile .descCard {
  top: 55.8%;
  left: 17%;
  right: 8%;
  font-family: "Quicksand", sans-serif;
  font-size: 19px;
  line-height: 1.5;
}

div#cardsMobile .frame {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  object-fit: cover;
}

div#cardsMobile .skill-container {
  position: absolute;
  top: 16%;
  left: 14%;
  width: 82%;
  height: 40%;
  z-index: 4;
}

div#cardsMobile .skill {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

div#cardsMobile .skill-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to top, transparent, rgba(255, 255, 255, 0.7));
  z-index: 2;
  pointer-events: none;
}

div#cardsMobile .skill-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 1));
  z-index: 2;
  pointer-events: none;
}

/* Fin Diseño Icono desplegable  */

/* ===== Carrusel 3D limpio ===== */

.carousel-container {
  position: relative;
  width: 100%;
  height: 100vh; /* ocupa toda la altura del navegador */
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 2000px;
  overflow: hidden;
}

#cards.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 3500px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cards .cardInfo {
  position: absolute;
  top: 50%;
  width: 280px;
  aspect-ratio: 3/5;
  transform-style: preserve-3d;
  transform-origin: center center;
  transition: transform 0.8s ease, opacity 0.6s ease;
  cursor: pointer;
}

#cards .cardInfo.active {
  transform: scale(1.1);
  z-index: 999;
}

/* ===== Fin carrusel 3D ===== */

/* Diseño Responsive */

@media only screen and (max-width: 665px) {
  div#elementsMobile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 768px) {
  div#elements,
  div#skills,
  div#rarities,
  div#cards {
    display: none !important;
  }

  div#iconDesplegable {
    display: block;
  }

  div#cardsMobile {
    display: flex;
  }
}

@media only screen and (max-width: 992px){

}

/* Fin Diseño Responsive*/
