<div id="elements">
  <div
    class="element"
    *ngFor="let element of elements; let i = index"
    (click)="selectedElement = i; selectedCard = 0"
  >
    <img src="/images/elements/{{ element.srcImg }}" alt="{{ element.name }}" />
  </div>
</div>
{{ selectedCard }}
<div id="cards">
  <div class="cardInfo" id="backwardCard2" (click)="move('backward2')">
    <img
      src="/images/frames/RatakarutaCardFrameLv{{
        getRarityLvlCard(getCard('prev2')!)
      }}.png"
      class="frame"
    />
    <img
      src="/images/frames/RatakarutaCardFrame_{{
        getCard('prev2')?.element
      }}.png"
      class="overlay"
    />
    <div class="skill-container">
      <img
        [src]="
          '/images/skills/' +
          getCard('prev2')?.element?.toLowerCase() +
          '/' +
          getCard('prev2')?.srcImg
        "
        class="skill"
      />
    </div>
    <span class="titleCard">{{ getCard("prev2")?.title }}</span>

    <span class="descCard">
      {{
        getCard("prev2")?.desc?.replace(
          "{0}",
          (
            getCard("prev2")!.variableLvl[
              getRarityIndex(getCard("prev2")!, selectedRarity)
            ] ?? ""
          ).toString()
        )
      }}
    </span>
  </div>
  <div class="cardInfo" id="backwardCard1" (click)="move('backward1')">
    <img
      src="/images/frames/RatakarutaCardFrameLv{{
        getRarityLvlCard(getCard('prev1')!)
      }}.png"
      class="frame"
    />
    <img
      src="/images/frames/RatakarutaCardFrame_{{
        getCard('prev1')?.element
      }}.png"
      class="overlay"
    />
    <div class="skill-container">
      <img
        [src]="
          '/images/skills/' +
          getCard('prev1')?.element?.toLowerCase() +
          '/' +
          getCard('prev1')?.srcImg
        "
        class="skill"
      />
    </div>
    <span class="titleCard">{{ getCard("prev1")?.title }}</span>

    <span class="descCard">
      {{
        getCard("prev1")?.desc?.replace(
          "{0}",
          (
            getCard("prev1")!.variableLvl[
              getRarityIndex(getCard("prev1")!, selectedRarity)
            ] ?? ""
          ).toString()
        )
      }}
    </span>
  </div>
  <div
  class="cardInfo"
  id="principalCard"
  (click)="advanceRarity(getCard('actual')!)"
>
  <img
    src="/images/frames/RatakarutaCardFrameLv{{
      getRarityLvlCard(getCard('actual')!)
    }}.png"
    class="frame"
  />
  <img
    src="/images/frames/RatakarutaCardFrame_{{
      getCard('actual')?.element
    }}.png"
    class="overlay"
  />
  <div class="skill-container">
    <img
      [src]="
        '/images/skills/' +
        getCard('actual')?.element?.toLowerCase() +
        '/' +
        getCard('actual')?.srcImg
      "
      class="skill"
    />
  </div>
  <span class="titleCard">{{ getCard('actual')?.title }}</span>

  <span class="descCard">
    {{
      getCard('actual')?.desc?.replace(
        '{0}',
        (
          getCard('actual')!.variableLvl[
            getRarityIndex(getCard('actual')!, selectedRarity)
          ] ?? ''
        ).toString()
      )
    }}
  </span>
</div>

  <div class="cardInfo" id="forwardCard1" (click)="move('forward1')">
    <img
      src="/images/frames/RatakarutaCardFrameLv{{
        getRarityLvlCard(getCard('forw1')!)
      }}.png"
      class="frame"
    />
    <img
      src="/images/frames/RatakarutaCardFrame_{{
        getCard('forw1')?.element
      }}.png"
      class="overlay"
    />
    <div class="skill-container">
      <img
        [src]="
          '/images/skills/' +
          getCard('forw1')?.element?.toLowerCase() +
          '/' +
          getCard('forw1')?.srcImg
        "
        class="skill"
      />
    </div>
    <span class="titleCard">{{ getCard("forw1")?.title }}</span>

    <span class="descCard">
      {{
        getCard("forw1")?.desc?.replace(
          "{0}",
          (
            getCard("forw1")!.variableLvl[
              getRarityIndex(getCard("forw1")!, selectedRarity)
            ] ?? ""
          ).toString()
        )
      }}
    </span>
  </div>
  <div class="cardInfo" id="forwardCard2" (click)="move('forward2')">
    <img
      src="/images/frames/RatakarutaCardFrameLv{{
        getRarityLvlCard(getCard('forw2')!)
      }}.png"
      class="frame"
    />
    <img
      src="/images/frames/RatakarutaCardFrame_{{
        getCard('forw2')?.element
      }}.png"
      class="overlay"
    />
    <div class="skill-container">
      <img
        [src]="
          '/images/skills/' +
          getCard('forw2')?.element?.toLowerCase() +
          '/' +
          getCard('forw2')?.srcImg
        "
        class="skill"
      />
    </div>
    <span class="titleCard">{{ getCard("forw2")?.title }}</span>

    <span class="descCard">
      {{
        getCard("forw2")?.desc?.replace(
          "{0}",
          (
            getCard("forw2")!.variableLvl[
              getRarityIndex(getCard("forw2")!, selectedRarity)
            ] ?? ""
          ).toString()
        )
      }}
    </span>
  </div>
</div>

<!--
<div id="cards">
  <div
    class="cardInfo"
    *ngFor="let card of cards[selectedElement].cards"
    (click)="advanceRarity(card)"
  >
    <img
      src="/images/frames/RatakarutaCardFrameLv{{
        card.rarityLvl[getRarityIndex(card, selectedRarity)]
      }}.png"
      class="frame"
    />
    <img
      src="/images/frames/RatakarutaCardFrame_{{ card.element }}.png"
      class="overlay"
    />
    <div class="skill-container">
      <img
        src="/images/skills/{{ card.element.toLowerCase() }}/{{ card.srcImg }}"
        class="skill"
      />
    </div>
    <span class="titleCard">{{ card.title }}</span>

    <span class="descCard">{{
      card.desc.replace(
        "{0}",
        card.variableLvl[getRarityIndex(card, selectedRarity)].toString()
      )
    }}</span>
  </div>
</div>
-->

<div id="cardsMobile">
  <div
    class="card"
    (click)="advanceRarity(cards[selectedElement].cards[selectedCard])"
  >
    <img
      src="/images/frames/RatakarutaCardFrameLv{{
        cards[selectedElement].cards[selectedCard].rarityLvl[
          getRarityIndex(
            cards[selectedElement].cards[selectedCard],
            selectedRarity
          )
        ]
      }}.png"
      class="frame"
    />
    <img
      src="/images/frames/RatakarutaCardFrame_{{
        cards[selectedElement].cards[selectedCard].element
      }}.png"
      class="overlay"
    />
    <div class="skill-container">
      <img
        src="/images/skills/{{
          cards[selectedElement].cards[selectedCard].element.toLowerCase()
        }}/{{ cards[selectedElement].cards[selectedCard].srcImg }}"
        class="skill"
      />
    </div>
    <span class="titleCard">{{
      cards[selectedElement].cards[selectedCard].title
    }}</span>

    <span class="descCard">{{
      cards[selectedElement].cards[selectedCard].desc.replace(
        "{0}",
        cards[selectedElement].cards[selectedCard].variableLvl[
          getRarityIndex(
            cards[selectedElement].cards[selectedCard],
            selectedRarity
          )
        ].toString()
      )
    }}</span>
  </div>
</div>

<div
  id="iconDesplegable"
  onclick="document.getElementById('mySidenav').style.left = '0%';"
>
  <img src="/images/frames/ratakaruta.png" />
</div>

<div id="mySidenav" class="sidenav">
  <a
    href="javascript:void(0)"
    class="closebtn"
    onclick="document.getElementById('mySidenav').style.left = '100%';"
    >&times;</a
  >
  <div id="elementsMobile">
    <div
      class="element"
      *ngFor="let element of elements; let i = index"
      (click)="selectedElement = i; selectedCard = 0"
    >
      <img
        src="/images/elements/{{ element.srcImg }}"
        alt="{{ element.name }}"
      />
    </div>
  </div>

  <div id="skillsMobile">
    <div
      class="skill"
      *ngFor="let skill of skills[selectedElement].skills"
      (click)="selectSkill(skill)"
      onclick="document.getElementById('mySidenav').style.left = '100%';"
    >
      <img
        src="/images/skills/{{ skill.elementType }}/{{ skill.srcImg }}"
        alt="{{ skill.title }}"
      />
      <div class="skillTitleMobile">
        <span>{{ skill.title }}</span>
      </div>
    </div>
  </div>
</div>
