<div id="characters">
  <div class="cobuns">
    <img src="/images/background/characterBackground.png" class="frame" />
    <div id="squad1">
      <div class="cobun" id="cobun1">
        <div class="base-circle"></div>
      </div>
      <div class="cobun" id="cobun2">
        <div class="base-circle"></div>
      </div>
      <div class="cobun" id="cobun3">
        <div class="base-circle"></div>
      </div>
    </div>
  </div>
  <div class="cobuns">
    <div id="squad2">
      <div class="cobun" id="cobun4">
        <div class="base-circle"></div>
      </div>
      <div class="cobun" id="cobun5">
        <div class="base-circle"></div>
      </div>
      <div class="cobun" id="cobun6">
        <div class="base-circle"></div>
      </div>
    </div>
    <img src="/images/background/characterBackground.png" class="frame" />
  </div>
  <div class="cobuns">
    <div id="squad3">
      <div class="cobun" id="cobun7"><div class="base-circle"></div></div>
      <div class="cobun" id="cobun8"><div class="base-circle"></div></div>
      <div class="cobun" id="cobun9"><div class="base-circle"></div></div>
    </div>
    <img src="/images/background/characterBackground.png" class="frame" />
  </div>
  <div id="ratatanHero">
    <img src="/images/background/characterBackground.png" class="frame" />
    <div id="hero"></div>
  </div>
</div>
