div#cabecera {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
}

#imgHUDEsquina {
  -webkit-user-drag: none;
  z-index: 10;
  position: absolute;
  top: 0;
  width: 500px;
}

#imgHUDAtras {
  -webkit-user-drag: none;
  z-index: 11;
  position: absolute;
  top: 0;
  width: 285px;
}

#spanHUDAtras {
  z-index: 12;
  font-size: 30px;
  font-family: "RatatanIngame";
  letter-spacing: -1px;
  color: rgba(20, 20, 20, 1);
  position: absolute;
  user-select: none;
  top: 61px;
  left: 94px;
}

#spanHUDTitle {
  user-select: none;
  z-index: 12;
  color: white;
  position: absolute;
  font-family: "titleCard";
  rotate: -45deg;
  font-size: 70px;
  top: 170px;
  left: 105px;
}

/* Fin Cabecera*/

/* Contenido */

div#contentPage {
  position: relative;
  width: 100%;
  background-image: url("/images/background/background1.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: normal;
  overflow: hidden;
}

div#contentPage::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: 0;
}

div#contentPage > * {
  position: relative;
  z-index: 1;
}

.banner {
  position: absolute;
  top: 150px;
  left: 0;
  width: 100%;
  height: 38vw;
  overflow: hidden;
  z-index: 1;
}

.banner::before,
.banner::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2.5vh;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.2) 5%,
    rgba(0, 0, 0, 0.6) 10%,
    rgba(0, 0, 0, 0.6) 90%,
    rgba(0, 0, 0, 0.2) 95%,
    rgba(0, 0, 0, 0) 100%
  );
}

.banner::before {
  top: 0;
}
.banner::after {
  bottom: 0;
}

.banner .line-top,
.banner .line-bottom {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 5%,
    rgba(255, 255, 255, 0.6) 10%,
    rgba(255, 255, 255, 0.6) 90%,
    rgba(255, 255, 255, 0.2) 95%,
    rgba(255, 255, 255, 0) 100%
  );
}

.banner .line-top {
  top: 2.5vh;
}
.banner .line-bottom {
  bottom: 2.5vh;
}

.banner .middle {
  position: absolute;
  top: 2.5vh;
  bottom: 2.5vh;
  left: 0;
  right: 0;
  background: linear-gradient(
    to right,
    rgba(130, 130, 130, 0) 0%,
    rgba(130, 130, 130, 0.2) 5%,
    rgba(130, 130, 130, 0.6) 10%,
    rgba(129, 129, 129, 0.6) 90%,
    rgba(130, 130, 130, 0.2) 95%,
    rgba(130, 130, 130, 0) 100%
  );
}
